/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  gap: 3.2rem;
  padding: 3.2rem 1.6rem;
}

.footer p {
  font-size: clamp(1.2rem, 2.331vw, 1.8rem);
}

.footer__box--1,
.footer__box--2 {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.footer-img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}
/* fix images not rounding in other project documents */

.footer img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}

/* RESPONSIVE */

@media (max-width: 399px) {
  .footer-img {
    max-width: 25px;
    height: auto;
    border-radius: 50%;
  }

  .footer__box--1,
  .footer__box--2 {
    gap: 1rem;
  }

  .footer {
    gap: 2rem;
    padding: 3.2rem 1.6rem;
  }
}
