/* GENERAL COMPONENTS */
.hidden {
  display: none !important;
}

.h2 {
  text-align: center;
  font-size: clamp(2rem, 3.385vw, 2.8rem);
  color: var(--clr-dark);
}

.p {
  font-size: 1.6rem;
  color: var(--clr-dark);
  line-height: 1.5;
}

/* SECTION -- Lorem ipsum generator */

.section--lorem-ipsum-generator {
  min-height: 100vh;
}

.generator__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.generator__form label,
.generator__form button {
  font-size: 1.6rem;
}

.generator__form input {
  max-width: 60px;
  font-size: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline-start: 1.2rem;
}
.generator__form input:focus {
  outline: none;
}

.btn {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  transition: transform 200ms ease-in;
}

.btn:active {
  transform: scale(0.9);
  transition-duration: 100ms;
}

.btn--copy {
  display: block;
  font-size: 1.5rem;
  background-color: var(--clr-green);
  margin-inline: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 128, 0, 0.3);
}

.generator__output {
  border: 2px solid #777;
  padding: 2.4rem;
  margin: 0 auto;
  transition: background-image 500ms linear;
}

.output__text {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

/* RESPONSIVE */

@media (max-width: 350px) {
  .generator__form {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-items: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2.4rem;
  }

  .btn--generate {
    grid-column: 1/3;
  }
}
