@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

main {
  min-height: 100vh;
}

.p {
  font-size: 2rem;
}

.dad-joke {
  position: relative;
  max-width: 80rem;
  height: 22.917vw;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(2.8rem, 8.889vw, 5.6rem);

  color: var(--clr-dark-3);
  background-color: var(--clr-green-2);

  /* custom pattern */
  /* custom pattern */

  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-200);
  padding: 2.4rem 4.4rem;
  margin-bottom: var(--space-xl);
}

.dad-joke__img {
  position: absolute;
  max-width: clamp(5.6rem, 14.286vw, 9rem);
  height: auto;
  top: 0;
  right: 4.4rem;
  transform: translateY(-50%);
  transform-origin: bottom;
  cursor: pointer;
  pointer-events: none;

  /* animation */
  animation-name: imgAnimate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.dad-joke__img img {
  width: 100%;
  height: auto;
}

.dad-joke__q {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: clamp(2rem, 5.714vw, 3.6rem);
  font-weight: 800;
  letter-spacing: -0.6px;
  pointer-events: none;
}

.dad-joke__a {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: clamp(1.8rem, 4.444vw, 2.8rem);
  font-weight: 400;
  filter: blur(0);
  cursor: pointer;
  transition: filter 200ms;
}

.blurred {
  filter: blur(6px);
}

.dad-joke__btn {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-light-red);
  background-color: var(--clr-red-2);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-300);
  padding: 2rem 4rem;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 200ms, transform 200ms, box-shadow 200ms;
}

.dad-joke__btn:hover {
  opacity: 0.9;
}

.dad-joke__btn:active {
  opacity: 1;
  transform: scale(0.95);
  box-shadow: none;
}

.counter {
  font-size: 2.4rem;
  font-weight: 800;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes imgAnimate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  25% {
    transform: translateY(-50%) rotate(15deg);
  }

  50% {
    transform: translateY(-50%) rotate(0deg);
  }

  75% {
    transform: translateY(-50%) rotate(-15deg);
  }

  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

@keyframes counterAnimate {
  0% {
    color: var(--clr-green-2);
  }

  50% {
    color: var(--clr-yellow);
  }

  100% {
    color: var(--clr-light);
  }
}

/* RESPONSIVE */
@media (max-width: 375px) {
  .dad-joke__btn {
    font-size: 1.8rem;
    padding: 1.6rem 3.2rem;
  }
}

@media (max-width: 425px) {
  .dad-joke {
    min-height: 26rem;
  }
}
