/* SECTION -- About author */

.section--about-author {
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(6.4rem, 9.6vw, 9.6rem);
  border: 2px solid var(--clr-gray-2);
  border-radius: 1.2rem;
  box-shadow: var(--shadow-100);
  margin-left: auto;
  margin-right: auto;
  padding: 3.6rem;
}

.about-author {
  max-width: 50%;
}

.aa__heading {
  text-transform: capitalize;
  line-height: 1.1;
}

.author__image-container {
  width: min(29.297vw, 300px);
}

.author__image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-s);
  transition: filter 200ms;
}

.lazy-load {
  filter: blur(5px);
}

/* RESPONSIVE */

@media (max-width: 664px) {
  .header {
    margin-bottom: var(--space-900);
  }

  .section--about-author {
    flex-direction: column;
    gap: var(--space-750);
  }

  .about-author {
    max-width: 100%;
  }

  .author__image-container {
    width: min(60vw, 300px);
  }

  .aa__heading {
    text-align: center;
    margin-bottom: var(--space-700);
  }
}

/* SECTION -- Project Description */

.pd__heading {
  text-align: center;
}

/* RESPONSIVE */

@media (max-width: 664px) {
  .section--project-description {
    max-width: 100%;
  }
}

/* SECTION -- Mini Project Collection */

.mini-projects__heading {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--clr-light);
  background-color: var(--clr-dark-3);
  padding: var(--space-500) 0;
}

.mini-projects__heading .mini-project-count {
  color: var(--clr-yellow);
}

.mini-projects__list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: var(--space-xl);
  row-gap: var(--space-900);
  list-style: none;
  margin: 0 auto;
}

.mini-project {
  position: relative;
  font-size: clamp(1.6rem, 0.233vw, 1.8rem);
  font-weight: 500;
  color: var(--clr-dark-2);
  background-color: #fff;
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-100);
  padding: 1.4rem 1rem 1.4rem 5.2rem;
  transition: box-shadow 300ms;
  cursor: pointer;
  pointer-events: visible;
}

.mini-project:hover {
  box-shadow: var(--shadow-200);
}

.mini-project:active {
  box-shadow: var(--shadow-100);
}

.mini-project__num {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100%);
  width: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  color: var(--clr-light);
  background-color: var(--clr-dark-3);
  border-top-left-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-100);
  pointer-events: none;
}

.mini-project a {
  text-decoration: none;
}

.mini-project a:link,
.mini-project a:visited {
  color: var(--clr-dark);
}

/* RESPONSIVE */
/* 
@media (max-width: 1350px) {
  .mini-projects__list ul {
    grid-template-columns: max-content max-content max-content;
    column-gap: var(--space-900);
  }
}

@media (max-width: 924px) {
  .mini-projects__list ul {
    grid-template-columns: max-content max-content max-content;
  }
}

@media (max-width: 768px) {
  .mini-projects__list ul {
    max-width: 90%;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
  }
}

@media (max-width: 650px) {
  .mini-projects__list ul {
    column-gap: 4.8rem;
    row-gap: var(--space-800);
  }

  .mini-projects__list ul li {
    max-width: max-content;
  }
}

@media (max-width: 600px) {
  .mini-projects__list ul {
    max-width: 100%;
    justify-content: center;
    column-gap: var(--space-900);
  }
}

@media (max-width: 545px) {
  .mini-projects__list ul {
    column-gap: var(--space-700);
    row-gap: var(--space-700);
  }
}

@media (max-width: 525px) {
  .mini-projects__list ul {
    max-width: 80%;
    grid-template-columns: max-content;
    justify-content: space-between;
    column-gap: var(--space-700);
    margin: 0 auto;
  }
}

@media (max-width: 426px) {
  .mini-projects__list ul {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
  }
} */
