body {
  background-color: var(--clr-dark);
}

.tmdb-logo {
  margin-left: auto;
  margin-right: auto;
}

.movie-cards {
  max-width: 1200px;
  display: grid;
  /* grid-template-columns: repeat(3, 300px); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3.2rem;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.movie-cards__card {
  position: relative;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--clr-light);
  background-color: var(--clr-dark-3);
  border: 2px solid transparent;
  border-radius: var(--border-radius-l);
  overflow: hidden;
  transition: border 300ms;
}

.movie-cards__card:hover,
.movie-cards__card:focus {
  border: 2px solid var(--clr-light);
}

.card__image-container {
  border-radius: var(--border-radius-l);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-l);
}

.card__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  padding: 2.4rem;
  cursor: pointer;
  z-index: 2;
}

.card__details--meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card__details__name {
  font-size: 2.4rem;
  font-weight: 600;
}

.card__details__date {
  font-size: 1.4rem;
}

.card__details--rating {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--clr-dark-3);
  background-color: var(--clr-green-2);
  padding: 1rem;
}

.card__plot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: auto;
  transition: opacity 300ms;
  opacity: 1;
  padding: 2.4rem;
}

.card__plot--hidden {
  opacity: 0;
}
