body {
  height: 100vh;
}

/* GENERAL COMPONENTS */
.hidden {
  display: none !important;
}

.h2 {
  text-align: center;
  font-size: clamp(2rem, 3.385vw, 2.8rem);
  color: var(--clr-dark);
}

.p {
  font-size: clamp(1.5rem, 2.07vw, 1.6rem);
  color: var(--clr-dark);
  line-height: 1.5;
}

/* SECTION -- Countdown Clock */
.section--countdown-clock {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("img/background-img-scaled-down.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.giveaway-time p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.countdown-clock__container {
  position: fixed;
  width: clamp(300px, 88.778vw, 1200px);
  max-height: 100vh;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 5.6rem;
  transform: translate(-50%, -50%);
}

.countdown-clock__container h2 {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.countdown-clock {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.countdown-clock__box {
  width: clamp(80px, 15.385vw, 100px);
  height: clamp(80px, 15.385vw, 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding: 6px;
  border-radius: var(--border-radius-m);
}

.countdown-clock__box p {
  font-size: clamp(2.8rem, 8vw, 5.6rem);
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 1;
  color: var(--clr-light);
}

.countdown-clock__box span {
  font-size: clamp(1rem, 2.154vw, 1.4rem);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

/* RESPONSIVE */
@media (max-width: 650px) {
  .countdown-clock__container {
    padding: 4.4rem 3.2rem;
  }
}

@media (max-width: 550px) {
  .countdown-clock__container {
    padding: 4.4rem 1.6rem;
  }
}

@media (max-width: 500px) {
  .countdown-clock {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}
