.section--faq {
  min-height: 60vh;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.faq {
  border-radius: var(--border-radius-l);
  box-shadow: 0 0px 16px 1px rgb(0 0 0 / 0.1);
  padding: 16px 32px;
  margin: 0 auto;
}

.faq__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.faq__q {
  font-size: clamp(1.6rem, 3.448vw, 2rem);
}

.faq__body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 250ms ease-in-out;
}

.faq__a {
  font-size: clamp(var(--fs-small), 2.07vw, var(--fs-base));
  line-height: 1.6;
}

.faq__btn {
  font-size: 1.8rem;
  border: none;
  color: var(--clr-light);
  background-color: var(--clr-green);
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 10px;
}

.faq__btn span {
  display: inline-block;
  transition: transform 250ms;
}

.faq--open {
  max-height: max-content;
  opacity: 1;
  padding-top: 2.4rem;
}

.faq__btn--open {
  transform: rotate(45deg);
}
