* {
  line-height: 1;
}

main {
  min-height: 100vh;
}

.h2 {
  font-size: clamp(2.4rem, 3.646vw, 3.2rem) !important;
}

.form-description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.form-validator {
  max-width: 540px;
  padding: 3.6rem;
  border-radius: var(--border-radius-l);
  border: 2px solid #e2e8f0;
}

.form {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2.4rem;
  align-items: start;
  /* border: 2px solid blue; */
  margin: 0 auto;
}

/* Placing form elements */
.form__item-3,
.form__item-4,
.form__item-5,
.form__item-6,
.form__item-7,
.form__item-8 {
  grid-column: 1/3;
}

.form__item-7 {
  align-self: center;
}

.form__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
}

.form label {
  font-size: 1.4rem;
  color: var(--clr-dark);
  opacity: 0.8;
  line-height: 1;
}

.form input {
  font-size: 1.4rem;
  color: #334155;
  letter-spacing: 0.2px;
  width: 100%;
  padding: 1rem;
  border: 2px solid #cbd5e1;
  border-radius: var(--border-radius-s);
  outline: none;
  transition: border 300ms;
}

.form input:focus {
  border: 2px solid #334155;
}

.form input::placeholder {
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}

.form__input-warning {
  font-size: 1.3rem;
  color: var(--clr-red);
}

.btn--submit {
  font-size: 1.6rem;
  color: var(--clr-light);
  background-color: #334155;
  border: 2px solid #334155;
  width: 80%;
  padding: 1.2rem 1.2rem;
  margin-top: 1.8rem;
  border-radius: var(--border-radius-s);
  transition: color 200ms, background-color 300ms, border 200ms, transform 300ms;
}

.btn--submit:hover {
  color: #334155;
  background-color: var(--clr-light);
}

.btn--submit:active {
  color: var(--clr-light);
  background-color: #334155;
  transform: scale(0.9);
}

/* Make outline red */
.warning-outline {
  border: 2px solid var(--clr-red) !important;
}

/* Animate user input fields */
.warning-animation {
  animation: shake 0.5s ease 0s 1 normal none;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  16%,
  48%,
  80% {
    transform: translateX(-10px);
  }

  32%,
  64%,
  96% {
    transform: translateX(10px);
  }
}

/* To hide warning messages */
.hide {
  display: none;
  opacity: 0;
}

/* RESPONSIVE */
@media (max-width: 460px) {
  .form__item-1,
  .form__item-2 {
    grid-column: 1/3;
  }

  .btn--submit {
    width: 100%;
  }
}

/* Success message */
.success-msg {
  max-width: 100%;
  padding: 3.6rem;
  color: var(--clr-dark);
  background-color: #86efac;
  transition: opacity 300ms;
}

.success-msg-hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

/* RESPONSIVE */
@media (max-width: 680px) {
  .success-msg {
    padding: 1.6rem;
  }

  .success-msg h2,
  .success-msg p {
    text-align: center;
  }
}
