main {
  min-height: 100vh;
}

/* General Elements */
.h2 {
  font-size: clamp(2rem, 3.385vw, 2.8rem);
}

.p {
  font-size: 1.6rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

.hidden {
  display: none;
}

/* NAVBAR */

.navbar {
  height: 7rem;
  background-color: var(--clr-dark);
  overflow: hidden;
  transition: all 250ms ease-in;
  padding: 2rem 3.2rem;
  margin-bottom: 6.4rem;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

.navbar__bottom {
  margin-top: 3.2rem;
  padding: 0 2.4rem;
}

.bottom__menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.bottom__menu li {
  font-size: clamp(1.5rem, 2.07vw, 1.6rem);
  line-height: 1.6;
  color: var(--clr-light);
  cursor: pointer;
}

.bottom__menu li a:link,
.bottom__menu li a:visited {
  text-decoration: none;
  color: var(--clr-light);
}

.bottom__menu li a:hover {
  text-decoration: underline;
}

.btn--toggle-navbar {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__icon {
  width: 2.8rem;
  height: 2.8rem;
  stroke: var(--clr-light);
}

.navbar-bottom--open {
  height: 26rem;
}
