/* General Elements */

.h2 {
  font-size: clamp(2rem, 3.385vw, 2.8rem);
}

.p {
  font-size: 1.6rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

.p-margin {
  margin-bottom: 1.8rem;
}

/* SECTION - Navigation Bar on Scroll */
.section--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  transition: opacity 250ms ease-in;
  padding: 2rem 3.2rem;
}

.navbar__icon {
  width: 2.8rem;
  height: 2.8rem;
  stroke: var(--clr-light);
  cursor: pointer;
}

.navbar--sticky {
  position: sticky;
  top: 0;
}
