/* HEADING */

.cal__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.2rem;
}

.h2 {
  font-size: 3.6rem;
  margin-bottom: 1.8rem;
}

.text-highlight {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: var(--clr-dark);
  background-color: var(--clr-yellow);
  border-radius: var(--border-radius-m);
  padding: 8px 1.2rem;
  margin-bottom: 1.2rem;
}

.cal__heading p {
  max-width: 80%;
}

/* CONVERTER */
.converter {
  max-width: 600px;
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-100);
  padding: 3.6rem;
}

.converter__form {
  /* border: 2px solid red; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
}

.form__row {
  /* border: 2px solid blue; */
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 6.4rem;
}

.row--2 {
  align-items: center;
  justify-content: space-between;
}

.row--2 .p {
  font-weight: 500;
  /* width: 186px; */
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--clr-dark-2);
  background-color: var(--clr-green-2);
  border-radius: var(--border-radius-s);
  cursor: help;
  padding: 6px 1.6rem;
}

.icon {
  stroke: var(--clr-dark-2);
  stroke-width: 2px;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.form__col {
  /* border: 2px solid green; */
  width: 18.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.form__col label {
  font-size: 1.7rem;
  color: var(--clr-dark-2);
  opacity: 0.9;
}

.form__selection {
  position: relative;
}

.form__col select {
  font-size: 1.6rem;
  color: var(--clr-dark);
  opacity: 0.8;
  outline: none;
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-s);
  transition: border 300ms, border-color 300ms;
  cursor: pointer;
  padding: 12px 3.2rem 12px 8px;
}

.form__dropdown-icon {
  position: absolute;
  top: 1.9px;
  right: 1.6px;
  bottom: 1.9px;
  width: 19%;
  height: 92.8%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-gray-2);
  border: 2px solid var(--clr-gray-2);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  pointer-events: none;
}

.form__dropdown-icon svg {
  stroke: var(--clr-dark-2);
  stroke-width: 2px;
  width: 2.8rem;
  height: 2.8rem;
}

.form__col input:focus,
.form__col select:focus {
  border: 2px solid #334155;
  /* box-shadow: 0px 0px 4px 2px rgba(51, 65, 85, 0.2); */
}

.form__col input {
  font-size: 1.6rem;
  color: var(--clr-dark-2);
  letter-spacing: 0.2px;
  width: 100%;
  min-height: 4.8rem;
  padding: 12px 1rem;
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-s);
  outline: none;
  transition: border 300ms;
}

/* Chrome, Safari, Edge, Opera */
.form__col input::-webkit-outer-spin-button,
.form__col input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form__col input[type="number"] {
  -moz-appearance: textfield;
}

.form__col input::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.2px;
}

.btn--swap {
  font-size: 1.7rem;
  color: var(--clr-light);
  background-color: var(--clr-dark-2);
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-m);
  padding: 1.2rem 2.4rem;
  transition: transform 250ms;
}

.swap-animation {
  animation: swap 1s;
}

@keyframes swap {
  0%,
  100% {
    border: 2px solid var(--clr-gray-2) !important;
  }

  20%,
  60% {
    border: 2px solid var(--clr-green-2) !important;
  }

  40%,
  80% {
    border: 2px solid var(--clr-red) !important;
  }
}

/* RESPONSIVE */

@media (max-width: 570px) {
  .converter {
    max-width: 400px;
  }

  .converter__form {
    max-width: max-content;
  }

  .form__row {
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
  }

  .row--2 {
    flex-direction: row;
    align-items: center;
    height: 50px;
  }

  .row--2 p {
    height: 100%;
  }

  .form__col input {
    width: 196.8px;
  }
}

@media (max-width: 420px) {
  .row--2 {
    flex-direction: column;
    align-items: start;
    height: max-content;
    gap: 2.4rem;
  }

  .row--2 p {
    height: 100%;
  }
}
