main {
  min-height: 100vh;
}

.intro {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  color: var(--clr-light);
  background-color: var(--clr-dark-3);
}

.intro h2 {
  max-width: max-content;
  color: var(--clr-dark-2);
  background-color: var(--clr-yellow);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .intro {
    padding-top: 4.4rem;
    padding-bottom: 5.6rem;
  }
}

@media (max-width: 425px) {
  .intro {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
  }

  .intro h2 {
    margin-bottom: 2.4rem;
  }
}

.choice-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.4rem;
}

.choice-picker__form {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
}

/* RESPONSIVE */
@media (max-width: 425px) {
  .choice-picker__form {
    gap: 2.8rem;
  }

  .choice-picker {
    gap: 3.6rem;
  }
}

.form__input {
  width: 100%;
  height: 40vh;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.form__input label {
  text-align: center;
  font-size: 1.6rem;
  color: var(--clr-dark-2);
}

#input--choices {
  width: 100%;
  letter-spacing: 0.2px;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: var(--clr-dark-2);
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-s);
  outline: none;
  resize: both;
  padding: 1.4rem;
  transition: border-color 300ms;
  columns: 40;
}

#input--choices:active,
#input--choices:focus {
  border-color: var(--clr-gray-3);
}

.form__btn {
  width: 20rem;
  height: 4.4rem;
  font-size: 1.6rem;
  color: var(--clr-light);
  background-color: var(--clr-dark-2);
  border-radius: var(--border-radius-s);
}

.choice-picker__choices {
  width: 100%;
}

.choices {
  min-height: 10rem;
  display: flex;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem;
  background-color: var(--clr-gray);
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-l);
  padding: 1.6rem;
}

.choices__choice {
  font-size: 1.6rem;
  color: var(--clr-dark-2);
  background-color: var(--clr-green-2);
  border-radius: var(--border-radius-l);
  padding: 6px 2rem;
  transition: background-color 100ms, color 100ms;
}

.choice--green {
  color: var(--clr-dark-2);
  background-color: var(--clr-green-2);
}

.choice--select {
  background-color: var(--clr-yellow);
}

.choice--reject {
  color: var(--clr-dark-2);
  background-color: var(--clr-gray-2);
}
