main {
  min-height: 100vh;
}

.intro {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  color: var(--clr-light);
  background-color: var(--clr-dark-3);
}

.intro h2 {
  max-width: max-content;
  color: var(--clr-dark-2);
  background-color: var(--clr-yellow);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
}

.choice-picker {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.4rem;
}

.choice-picker__form {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
}

.form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.form__input label {
  font-size: 1.6rem;
  color: var(--clr-dark-2);
}

#input--choices {
  max-width: 80rem;
  letter-spacing: 0.2px;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: var(--clr-dark-2);
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-s);
  outline: none;
  resize: vertical;
  padding: 1.4rem;
  transition: border-color 300ms;
}

#input--choices:active,
#input--choices:focus {
  border-color: var(--clr-gray-3);
}

.form__btn {
  width: 20rem;
  height: 4.4rem;
  font-size: 1.6rem;
  color: var(--clr-light);
  background-color: var(--clr-dark-2);
  border-radius: var(--border-radius-s);
}

.choice-picker__choices {
  width: 100%;
}

.choices {
  min-height: 20rem;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1.2rem;
  background-color: var(--clr-gray);
  border: 2px solid var(--clr-gray-2);
  border-radius: var(--border-radius-l);
  padding: 1.6rem;
}

.choice-picker__choices button {
  font-size: 1.6rem;
  color: var(--clr-dark-2);
  background-color: var(--clr-green-2);
  border-radius: var(--border-radius-l);
  padding: 6px 2rem;
  transition: background-color 250ms;
}

.choice--select {
  background-color: var(--clr-green-2);
}
